.App {
  text-align: center;
  background-color: darkseagreen;
}

.App-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 6vh;
  background-color: #fff;
  height: 7vh;
  padding: 20px;
  color: black;
}

.App-logo {
  grid-area: 1 / 1 / 2 / 2;
  animation: App-logo-spin infinite 20s linear;
  height: 7vh;
}

.App-title {
  grid-area: 1 / 2 / 2 / 6;
  font-size: 1.5em;
  margin: auto 0 auto -60px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes App-header-background-color {
  from { background-color: #222; }
  to { background-color: blue; }
}
